.App{
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    gap: 10px;
    margin: 50px auto;
    background-color: #d2d2d2;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
}

.Resultado {
    height: 40px;
    font-size: 1.5rem;
    width: 250px;
}
.ContainerBotao{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 10px;
    justify-content: center;
}
.BotaoNumero{
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #000;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor:pointer;
}
.CotainerBotaoOperacao{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.BotaoOperacao{
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: #fa8e00;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor:pointer;
}